<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dasboard</title>
</head>
<body>
    <header class="navbar">
        <nav>
            <h1 >Dasboard</h1>
            <button><a href="/">Home</a></button>
        </nav>
    </header>
    <div class="main_board">
        <aside class="sidebar">Menu</aside>
        <main><article>hdkkdjfkldafkdakfdk</article></main>
    </div>
    
</body>
</html>

<style>
    nav{
        display: flex;
        justify-content: space-between;
        
    }
    .navbar{
        background-color: aquamarine ;
        color: blue;
    }
    .sidebar{
        background-color: beige;
        min-height: 100vh;
        padding-right: 50px;
    }
    .main_board{
        display: flex; 
        justify-items: center;
    }
</style>



