<div class=" dark:text-gray-300 mt-10 ">
    <div class="m-1 md:m-5  ">
        <div class=" prose prose-lg dark:prose-invert text-md mb-5 text-wrap">
            <slot/>
        </div>
    </div>
</div>
