---
import MenuTitle from "./MenuTitle.astro"
---
<div class=" dark:text-white ">
    <h1 class=" text-xl font-bold w-full bg-gray-700 p-3">Questoins</h1>
    <ul class="aside-menu" id="menu-list sidebar">  
      <MenuTitle/>
    </ul>
  </div>
</div>


