---
import { titleToSlug } from "../../utils/titleToSlug.ts";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allPosts: CollectionEntry<"blogs">[] = await getCollection("blogs");
const { slug } = Astro.params;
const slugTitle = slug ? titleToSlug(slug) : null;
---

{
  allPosts.map((menu) => (
    <li
      class={`pl-1 mx:px-3 cursor-pointer hover:bg-slate-600 duration-200
      ${slugTitle === titleToSlug(menu.data.title) ? "dark:bg-slate-900 hover:dark:bg-slate-900 text-gray-300" : "dark:even:bg-slate-700 "}
    `}
    >
      <a href={`/answer/${titleToSlug(menu.data.title)}`}>
        <span class="text-md py-5 p-2 text-wrap inline-block">
          {menu.data.title}
        </span>
      </a>
    </li>
  ))
}
