---
const posts = await Astro.glob(`../pages/posts/*.{mdx,md}` )
---

<h1>ចំណងជើង</h1>
<ul>
    {posts? posts.map(post=>(
        <li><a href={post.url}>{post.frontmatter.title}</a></li>
    )):(<h1> No posts</h1>)}

    <li><a href="/myblog" >my blog</a></li>
</ul>